<div class="info-wrapper">
  <div class="left-block">
    <h1>Benefits of eContent and the R2 Digital Library</h1>
    <p>if you`ve been thinking of including digital
    content into your library collection. but
    haven`t yet made the switch, here are answers
      to some very common questions about the benefits
      of using eContent and the R2 Digital Library as your platform</p>
    <button class="info-btn">Visit our help section</button>
  </div>
  <div>
    <div class="right-block">
      <h1>Does the R2 Library have the Titles I need?</h1>
      <p>We have thousands of resources from the leading
      health sciences publishers, so chances are, the answer is yes.
        To be sure, use the search function at the top of the page to access a listing of active R2 titles.</p>
    </div>
    <button class="phone-btn"> <span class="material-icons help">help_outline</span><span>1.800.345.6425 X601 / info@r2library.com</span></button>
  </div>
</div>
