<div class="features-wrapper">
  <div class="features">
    <p><span class="material-icons group">group_add</span></p>
    <p>Connect your users with essential health sciences
    content from the leading publishers - on
    a platform designed to enhance it</p>
  </div>
  <div class="features">
    <p> <span class="material-icons pages">pages</span></p>
    <p>Select resources at the title level and pay
    once for life of edition access</p>
  </div>
  <div class="features">
    <p><span class="material-icons layers">layers</span></p>
    <p>Explore consortia. patron driven Acquisition
    and turnkey collection development solutions</p>
  </div>
  <div class="features">
    <p><span class="material-icons library">local_library</span></p>
    <p>Incorporate workflow. integration and collaboration tools
    designed for the contemporatry library</p>
  </div>
</div>
