<div class="demo-wrapper">
  <div class="trial-block">
    <p>Welcome to the R2 Digital Library</p>
    <p>The best selection of constantly updated, Health Sciences focused, cross-referenced e Content.
        Featuring thousands of resources from the leading health sciences publishers - and growing every day.</p>
    <button class="trial-button">Start a free 30-day trial</button>
  </div>
  <div class="video-block">
    <p>Watch a quick demo of the R2 Digital Library in action</p>
    <p>You`ll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution</p>
    <div class="frame-block">
      <div class="bound-corner">
        <div id="player"></div>
      </div>

      <div class="cover" #cover>
        <button  (click)="play()"><span class="material-icons">play_arrow</span></button>
      </div>
    </div>
  </div>
</div>
