
<div class="wrapper">
  <div appNotes class="content">
    <app-header></app-header>
    <div class="main-block">
      <app-reviews-block></app-reviews-block>
      <app-demo-block></app-demo-block>
      <app-recently-added-block></app-recently-added-block>
      <app-expand-lib-block></app-expand-lib-block>
      <app-features-block></app-features-block>
      <app-most-popular-blocks></app-most-popular-blocks>
      <app-features-publisher></app-features-publisher>
      <app-info-block></app-info-block>
    </div>
  </div>
  <div class="footer">
     <app-footer></app-footer>
  </div>
</div>


