<div class="reviews-wrapper">
  <div class="header-logo">
    <div>R</div>
  </div>
  <p class="reviews-slogan">Dont just take our word for it!</p>
  <p class="reviews-title">Read librarian reviews of the R2 Digital Library</p>
  <button class="reviews-btn">Go to the reviews section</button>
  <div class="btn-arrows">
    <button class="btn-arrow">
      <span class="material-icons arrows">chevron_left</span>
    </button>
    <button class="btn-arrow">
      <span class="material-icons arrows">chevron_right</span>
    </button>
  </div>

</div>
