/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: monospace;
  background-color: #F4F5F7;
  box-sizing: border-box;
  border-style: none;
}
.selectedText {
  color: yellow;
}
.selectedText:hover {
  cursor: pointer;
  transition: all 400ms ease;
}
